.btn-loc {
  padding: 0.5em;
  background: gold;
  text-align: center;
  text-transform: uppercase;
  font-weight: 900;
}

@media (min-width: 768px) {
  .btn-loc {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
}
